{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block content %}

    {% if message %}
        <p> {{message}} </p>
    {% endif %}

    <form action = "" method="post">
        <p>
            <label for="username">Ваше имя</label>
            <input type="text" name="username">
        </p>
            
        <p>
            <label for="password">Пароль</label>
            <input type="password" name="password">
        </p>

        <p>
            <label>Email: </label> 
            <input type="text" name="email" value="" requierd>
        </p>

        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}
